{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>API</title>
		<link rel="stylesheet" href="{%static 'quest_app/css/auth.css' %}" />
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
				<h1>Регистрация</h1>
				<div class="form-box">
					<div class="form-value" id="#formid">
						<form class="form" id="'tg" method="POST" action="">
							{% csrf_token %}
							<div>Пользователь</div>
							{{form.username}}
							<div>Email</div>
							{{form.email}}
							<div>Пароль</div>
							{{form.password1}}
							<div>Подтвердите пароль</div>
							{{form.password2}}
							<div id="success" class="alert-success" role="alert"></div>
							<input class="btn" type="submit" name="Create User" />
							{% comment %} <button class="log-in" type="submit">Sign up</button> {% endcomment %}
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
		<!--<script src="{% static 'quest_app/js/auth.js' %}"></script>!-->
	</body>
</html>
