{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>API</title>
		<link rel="stylesheet" href="{%static 'quest_app/css/auth.css' %}" />
	</head>
	<body>
		<div class="wrapper">
			<div class="container">
				<h1>Registration</h1>
				<div class="form-box">
					<div class="form-value" id="#formid">
						<form class="form" id="tg" method="POST" action="">
							{% csrf_token %}
							<div class="form-control">
								<div class="label">{{form.username.label}}</div>
								<div class="input">{{form.username}}</div>
							</div>
							<div class="form-control">
								<div class="label">{{form.email.label}}</div>
								<div class="input">{{form.email}}</div>
							</div>
							<div class="form-control">
								<div class="label">{{form.password1.label}}</div>
								<div class="input">{{form.password1}}</div>
							</div>
							<div class="form-control">
								<div class="label">{{form.password2.label}}</div>
								<div class="input">{{form.password2}}</div>
							</div>
							<input type="submit" name="Create User" class="btn" />
							{% comment %} <button class="log-in" type="submit">Sign up</button> {% endcomment %}
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="{% static 'quest_app/js/lib/axios.min.js' %}"></script>
		<!--<script src="{% static 'quest_app/js/auth.js' %}"></script>-->
	</body>
</html>
