{% load static %}

<!DOCTYPE html>
<!-- Оболочка документа, указываем язык содержимого -->
<html lang="ru">
	<head>
		<!-- Заголовок страницы в браузере -->
		<title>{{title}}</title>
		<!-- Подключаем CSS -->
		<link rel="stylesheet" href="{%static 'quest_app/css/style.css' %}" />
		<!-- Кодировка страницы -->
		<meta charset="UTF-8" />
		<!-- Адаптив -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" ,chrome="1" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="{%static 'quest_app/css/burgerMenuStyle.css' %}" />
	</head>
	<!-- Отображаемое тело страницы -->
	<body>
		{% block content%}
		<!-- Оболочка (grid-контейнер) -->
		<div class="wrapper">
			<!-- Шапка (grid - элемент) -->


			<!-- Контент (grid-элемент + grid-контейнер) -->
			<main class="main" id="main-page">
				<div class="describe-content">
					<h1>World of quests | Квесты в Зеленограде</h1>
					<h3>
						Квесты в Зеленограде — отличная возможность для отдыха с семьёй и друзьями. Самое время
						выбраться из комнаты! Квесты в реальности — одно из самых популярных развлечений в
						Зеленограде. У нас вы найдёте информацию о лучших квест-комнатах от разных компаний!
					</h3>
				</div>

				<!-- Контент (grid-элемент) -->
				
				<section class="content">
					<section class="content-items" id="nearZel">
						<h2 class="items-title">Квесты рядом с Зеленоградом:</h2>
						<div class="quest-items" id="questNearZelenograd">

							{% for q in all_quests%}
							<div class="quest-item">
								<div class="quest-icons-info">
									<p class="age-limit">{{q.age_limit}}</p>
									<p class="count-people">
										<img
											class="icons-info"
											src="https://www.clipartmax.com/png/full/9-96044_big-image-icon-person-png-white.png"
											alt="icon not found" />
										<span>{{q.counf_members}}</span>
									</p>
								</div>
								<div class="quest-image">
									<img
										src="https://mir-kvestov.ru/uploads/quests/4033/large/claustrorhobiacom_alhimik_photo3.jpg?1670407880"
										alt="img not found" />
									<div class="quest-description">
										<a href="quest0" class="a-desription"
											>{{q.short_description}}</a
										>
									</div>
								</div>
								<div class="item-box-desc">
									<p>
										<a
											target="_blanck"
											title="Квест «"{{q.title}}"» "
											href="https://mir-kvestov.ru/quests/wizardium-magicheskoe-podzemelie"
											class="quest_tile_name_link"
											>{{q.title}}</a
										>
									</p>
									<span>
										<img
											class="quest-icon"
											alt="icon not found!"
											src="https://cdn.icon-icons.com/icons2/1703/PNG/96/ghost_112194.png" />
									</span>
									<span class="game-type">{{q.type_quest}}</span>
									<p>{{q.city}}</p>
									<p>{{q.subway}}</p>
									<p>Рейтинг по отзывам: </p>
								</div>
								<a
									class="item-button"
									target="_blank"
									title="Бронировать «"{{q.title}}"»"
									data-scroll=""
									href="quest0"
									>Бронировать</a
								>
							</div>
							{% endfor %}
						</div>
					</section>
					

					<section class="content-items" id="intoZel">
						<h2 class="items-title">Квесты в Зеленограде:</h2>
						<div class="quest-items" id="questZelenograd"></div>
					</section>
				</section>
				<div class="aimation-css">
					<div class="stage">
						<div class="box bounce-2"></div>
					</div>
				</div>
			</main>
			
		</div>
		<script src="{%static 'quest_app/js/index.js' %}"></script>
		<script src="{%static 'quest_app/js/burgerMenuScript.js' %}"></script>
		{%endblock%}
	</body>
</html>
