{% extends 'quest_app/base.html' %}
{% load static %}

{%block content%}
			<main class="main">
				<div class="describe-content">
					<h1>{{quest.title}}</h1>
					<h3>{{quest.type_quest}}</h3>
				</div>
				<div class="description-images">
					<img src="static/quest_app/splashscreens/quest{{quest.pk}}img.jpg">
				</div>
				<div class="description-box">
					<div class="cell">
						<p class="th">Игроков</p>
						<p class="td">{{quest.count_members}}</p>
					</div>
					<div class="cell">
						<p class="th">Время</p>
					  <p class="td">{{quest.time}} мин</p>
					</div>
					<div class="cell">
						<p class="th">Цена, р.</p>
						<p class="td">{{quest.cost}} р.</p>
					</div>
					<div class="cell">
						<p class="th">Возраст</p>
						<p class="td">{{quest.age_limit}}</p>
					</div>
				</div>
				<div class="description">
					<h2>Описание</h2>
					<p>{{quest.full_description}}</p>
					<p><b>Возрастные ограничения</b>: {{quest.age_limit}}</p>
				</div>
				<div class="price">
					<h2>Цены</h2>
					<p>Стоимость игры для команды – от {{quest.cost}} рублей. Требуется частичная предоплата на все сеансы</p>
					<p><b>{{quest.addition}}</b></p>

					<div class="row">
						<form
							action="{%url 'like-post-view'%}"
							method="POST"
							,
							class="like-form"
							,
							id="{{quest.id}}">
							{% csrf_token %}
							<input type="hidden" name="post_id" value="{{quest.id}}" />
							<button type="submit" class="ui button like-btn{{quest.id}}">
								{% if user not in quest.likes.all %} Like {% else %} Unlike {% endif %}
							</button>
							<div class="like-count{{quest.id}}">{{quest.num_likes}}</div>
						</form>
					</div>

				</div>
			</main>
			
						
    </div>

		<script>
		
		

		$( document ).ready(function() {


		    $('.like-form').submit(function(e){
														

		        e.preventDefault()


		        const post_id = $(this).attr('id')
						//alert(post_id)
						const likeText = $("like-count" + post_id).text()
		       
		        const trim = $.trim(likeText)

		        const url = $(this).attr('action')
						//alert(url)   /
		        let res;
						const likes = $("like-count" + post_id).text()
		        const trimCount = parseInt(likes)
						//alert(trimCount)   NaN
		        $.ajax({
		            type: 'POST',
								
		            url: url,
		            data: {
		                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
		                'post_id':post_id,
										
		            },
		            success: function(response) {
										//заходит
		                if(trim === 'Unlike') {
												alert('блок unlike')
		                    $("like-btn" + post_id).text('Like')
		                    res = trimCount - 1
		                } else {
												//alert('блок like') заходит
		                    $("like-btn" + post_id).text('Unlike')
		                    res = trimCount + 1
												alert('res='+res)
		                }

		                $("like-count"+post_id).text(res)
										
		            },
		            error: function(response) {
		                console.log('error', response)
		            }
		        })
		    })

		});

	</script>

		{% endblock %}
		
